<%= content_for :breadtitle do %>
  <%= @cocktail.name %>
<% end %>

<%= render 'shared/breadcrumb' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6" >
        <div class="detail-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo.path, height: 300, width: 300, crop: :fill %>')"></div>
    </div>
    <div class="col-xs-12 col-sm-6" >
      <h1><%= @cocktail.name %></h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %>: <%= dose.description%>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add Doses', new_cocktail_dose_path(@cocktail)  %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-recipe">
  <% if @cocktail.doses.length > 0 %>
    qùlsmkdjfmqlskjdflmqksjdf
  <% end %>
</div>
